#about-page {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#about-page h2 {
    color: #333333;
}

.about-description {
    display: flex;
    /* justify-content: space-between; */
    padding: 50px;
    align-items: center;
    border: 2px solid #ccc;
    box-shadow: 0 0 10px rgba(123, 20, 20, 0.2);
}

.about-items img {
    width: 80%; /* Set the image width to fill its parent container */
    height: auto; /* Maintain the aspect ratio */
    opacity: .2;
    border: 2px solid #ccc;
    box-shadow: 0 0 10px rgba(123, 20, 20, 0.2);
}

.about-img {
    flex: 1;
}

.about-para {
    flex: 2;
    padding: 20px;
}


@media (max-width: 768px) {
    .about-page-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
}
