#about-page h2 {
    color: #333333;
}

.about-description {
    display: flex;
    padding: 50px;
    align-items: center;
    border: 2px solid #ccc;
    box-shadow: 0 0 10px rgba(123, 20, 20, 0.2);
}

.about-items img {
    width: 80%; 
    height: auto; 
    opacity: .2;
    border: 2px solid #ccc;
    box-shadow: 0 0 10px rgba(123, 20, 20, 0.2);
}

.about-img {
    flex: 1;
}

.about-para {
    flex: 2;
    padding: 20px;
}


@media (max-width: 768px) {
    .about-page-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .about-description {
        display: flex;
        flex-direction: column;
        padding: 50px;
        align-items: center;
        border: 2px solid #ccc;
        box-shadow: 0 0 10px rgba(123, 20, 20, 0.2);
    }

    .about-para {
        flex: 1;
        padding: 0px;
    }
    
    
}
