.contact-page-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.description {
    margin-bottom: 20px;
}

.contact-form {
    margin-top: 20px;
    background: #777777; 
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.8);
    width: 50%;
    text-align: center;
    display: flex;
    align-items: center;
}

.contact-form h2 {
    text-align: center;
}

.contact-form form {
    text-align: left;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.contact-form button[type="submit"] {
    background-color: #808080;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
    background-color: #c0c0c0;
}
