
* {
    box-sizing: border-box;
}


body {
    margin: 0;
    font-family: Arial, Verdana, sans-serif;
}

.container {
    display: flex;
}

#sidebar-nav {
    background-color: #333;
    padding: 15px;
    color: white;
}

#content {
    background: linear-gradient(to right, #808080, #c0c0c0); /* Gradient from medium grey to light grey */
}

#sidebar-nav ul {
    list-style: none;
    padding: 0;
}

#sidebar-nav p {
    font-size: 15px;
}

#sidebar-intro {
    padding: 10px 0px 5px 20px;
    font-size: 10px;
    border: 1px solid white;
}

.intro-def {
    padding-bottom: 5px;
}

#sidebar-nav a {
    text-decoration: none;
    color: white;
    padding: 10px;
    display: block;
}


#sidebar-nav a:hover {
    background-color: #555;
}

.highlight {
    background-color: #555
}

.logo-container img {
    opacity: .5;
    max-width: 100%; 
    height: auto;
}

@media (max-width: 768px) {
    /* Hide text and show icons */
    .nav-text {
        display: none;
    }
}

.page-main {
    flex: 1;
    padding: 20px;
    height: 100vh;
    overflow: auto;
}

.page-main:first-child {
    flex: 1;
}

.page-main:last-child {
    flex: 6; 
}

.code-like {
    /* color: #333; */
    /* background-color: red; */
    font-family: 'Courier New', monospace;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}