.resume-header {
    text-align: center;
    margin: 20px;
}

.resume-header h1 {
    margin-bottom: 10px;
}

.resume-header a {
    text-decoration: none;
}

.resume-header p {
    margin: 0;
    margin: padding;
    font-family: 'Verdana', sans-serif;
    font-size: 12px;
}

.resume-page-container {
    background-color: #777777;
    border: 2px solid #ccc;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(123, 20, 20, 0.2);
    padding-bottom: 20px;

}

.resume-container {
    background-color: #808080;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
    padding: 20px;
    border: 2px solid #ccc;
    box-shadow: 0 0 10px rgba(123, 20, 20, 0.2);

}

.section-title {
    font-size: 24px;
    font-weight: bold;
    color: #444;
}

.education,
.experience {
    list-style: none;
    padding: 0;
}

.experience>li {
    margin-bottom: 15px;
}

.job-title,
.degree {
    font-weight: bold;
}

.company,
.university {
    margin-top: 20px;
    font-style: italic;
}

.position {
    font-weight: bold;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .section {
        margin: 20px;
    }

    .resume-page-container {
        background-color: #777777;
        border: 0;
        border-radius: 40px;
        box-shadow: 0 0 10px rgba(123, 20, 20, 0.2);
        padding-bottom: 20px;
    }

    .resume-container {
        background-color: #808080;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 20px;
        padding: 20px;
        border: 0;
        box-shadow: 0 0 10px rgba(123, 20, 20, 0.2);
    }

}