.resume-header {
    text-align: center;
    margin: 20px;
}

.resume-container {
    display: flex;
    justify-content: space-between;
}

.section:first-child {
    margin: 20px;
    flex: 1;
}

.section:last-child {
    flex: 2; 
}

.section-title {
    font-size: 24px;
    font-weight: bold;
    color: #444;
}

.education,
.experience {
    list-style: none;
    padding: 0;
}

.experience>li {
    margin-bottom: 15px;
}

.job-title,
.degree {
    font-weight: bold;
}

.company,
.university {
    font-style: italic;
}

.position {
    font-weight: bold;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .section {
        margin: 20px;
    }

    .resume-container {
        flex-direction: column;
    }
    
}
