.social-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-page-description {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.social-page-description h1 {
    text-align: center;
}

.social-page-description p {
    font-size: 16px;
    line-height: 1.5;
}


.social-items-container {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center; 
    gap: 20px;
    max-width: 1200px; 
    padding: 20px;
}

.social-item {
    text-align: center;
    flex-basis: calc(50% - 20px); 
}
.social-item-grid {
    padding: 5%;
}

.social-item img {
    max-width: 100%;
    height: auto;
}

.description {
    margin-top: 10px;
    font-size: 16px;
}

.social-item:hover {
    border-color: #007bff; 
    background-color: #f0f0f0; 
}

.social-item-grid a{
    text-decoration: none;
    color: #333;
}

@media (max-width: 768px) {
    .social-item {
        flex-wrap: wrap;
        flex-basis: calc(100% - 20px); 
    }

    .social-items-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; 
        gap: 20px;
        max-width: 1200px; 
        padding: 20px;
    }
    
}