.work-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.work-items-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 20px;
    max-width: 1200px; 
    padding: 20px;
}

.work-item {
    text-align: center;
    flex-basis: calc(33.33% - 20px); 
}
.work-item-grid {
    padding: 5%;
}

.work-item img {
    max-width: 100%;
    height: auto;
}

.description {
    margin-top: 10px;
    font-size: 16px;
}

@media (max-width: 768px) {
    .work-item {
        flex-basis: calc(100% - 20px); 
    }
}

.work-item:hover {
    border-color: #007bff; 
    background-color: #f0f0f0; 
}

.work-item-grid a{
    text-decoration: none;
    color: #333;
}